<!DOCTYPE html>
<html ng-app>
<head>
	<style type="text/css">
	.error{
		background-color:red;
	}
	.warning{
		background-color:yellow;
	}
	</style>
<script src="../angular.js"></script>
<script>
	function HeaderController($scope){
		$scope.isError = false;
		$scope.isWarning = false;

		$scope.showError = function(){
			$scope.messageText = 'This is an error!';
			$scope.isError = true;
			$scope.isWarning = false;
		};

		$scope.showWarning = function(){
			$scope.messageText = 'Just a waring. Please carry on.';
			$scope.isWarning = true;
			$scope.isError = false;
		}
	}

</script>
</head>
<body>
	<div ng-controller='HeaderController'>
		<div ng-class='{error: isError,warning: isWarning}'>{{messageText}}<div>
	</div>

	<button ng-click='showError()'>Simulate Error</button>
	<button ng-click="showWarning()">Simulate Warning</button>
	
</body>
</html>