<!DOCTYPE html>
<html ng-app>
<head>
  <script src="../angular.js"></script>
<script src="controllers.js"></script>
</head>
<body ng-controller='CartController'>
	<h1>Your Order</h1>
	<div ng-repeat='item in items'>
		<span>{{item.title}}</span>
		<input ng-model='item.quantity'>
		<span>{{item.price | currency}}</span>
		<span>{{item.price * item.quantity | currency}}</span>
		
	</div>
	<div>Total:{{totalCart() | currency}}</div>
	<div>Discount:{{bill.discount | currency}}</div>
	<div>Subtotal:{{subtotal() | currency}}</div>
</body>
</html>